*{
    padding: 0;
    margin: 0;
}

body {
    background: #082c34;
    background-size: cover;
    background-repeat: no-repeat;
}
 
.main-nav{
    height: 50px;
    background-color: black;

}
h1 {
    color: azure;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 400%;
}
p{
    color: azure;
   text-align: center;
   font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    padding: 3px;
}
.container{
    
    
}
button{
    padding: 25px 46px;
    font-size: 28;
    cursor: pointer;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
    color: #fff;
    background-color: #3ba0b7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px #6f9fd97c;
    margin: auto;  
    position: sticky;
    display: flex;
    flex-direction: column;
 }
.startgame-btn{
    margin-top: 20px;
}
button:hover{
    background-position-x:34%;
    background-color:#2d8498;opacity:0.9;
    
}
button:active{
    box-shadow:0 5px #2d8498;
    background-color: #3ba0b7;
    transform: translateY(4px);
    
}
.newcard-btn{
     position: absolute;
    left: 562px; 
    top: 400px;
    
    
}
