*{
    padding: 0;
    margin: 0;
   
}



@media screen and (min-width:400px)
{
    
    
    .main-nav{
        height: 50px;
        background-color: black;
    }
    
    h1 {
        color: azure;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        font-size: 400%;
        margin-bottom: 40px;
    }
    p{
        color: azure;
       text-align: center;
       font-size: larger;
       padding: 3px;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    button{
        padding: 25px 46px;
        font-size: 28;
        cursor: pointer;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        outline: none;
        color: #fff;
        background-color: #3ba0b7;
        border: none;
        border-radius: 15px;
        box-shadow: 0 10px #6f9fd97c;
        margin: auto;  
        flex-direction: column;

     }
    .startgame-btn{
        padding-top: 20px;
        
    }
    button:hover{
        background-position-x:34%;
        background-color:#2d8498;opacity:0.9;
        
    }
    button:active{
        box-shadow:0 5px #2d8498;
        background-color: #3ba0b7;
        transform: translateY(4px);
        
    }
    .newcard-btn{
       position: relative;
         padding: 50px;
    }
    .border-items{
        border: solid white;
        margin-right: 400px;
        margin-left:400px;
    }
    .replay-btn
{
    padding-right: 60px;
    margin-top: 20px;
    padding-inline: 59px;
    padding-block: 20px;
} 

.footer{
    height: 100px;
    width: 100%;
    background-color: #000000;
    padding-bottom: 0px;
  
}

    
}
body {
    background: #082c34;
    background-size: cover;
    background-repeat: no-repeat;
}
 
.main-nav{
    height: 50px;
    background-color: black;
}

h1 {
    color: azure;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 400%;
    margin-bottom: 40px;
}
p{
    color: azure;
   text-align: center;
   font-size: larger;
   padding: 3px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    padding: 25px 46px;
    font-size: 28;
    cursor: pointer;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
    color: #fff;
    background-color: #3ba0b7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px #6f9fd97c;
    margin: auto;  
    position: sticky;
    display: flex;
    flex-direction: column;
 }
.startgame-btn{
    margin-top: 20px;
    padding-block: 23px;
}
button:hover{
    background-position-x:34%;
    background-color:#2d8498;opacity:0.9;
    
}
button:active{
    box-shadow:0 5px #2d8498;
    background-color: #3ba0b7;
    transform: translateY(4px);
    
}
.newcard-btn{
margin-top: -90px;
padding-bottom: 30px;
padding-block: 22px;
padding-inline: 51px;
}
.openbtn{
  background-color: #000000; 
  box-shadow: none; 
  border-radius: 0%;
  position: absolute;
  right: 0;
  height: 50px;
  padding: 15px;
 
 font-size: 23px;
 align-items: center;
 justify-content: center;
 
}
.openbtn:active{
    background-color: #000000; 
  box-shadow: none; 
  border-radius: 0%;
  position: absolute;
  right: 0;
  height: 50px;
   transform: none;
   padding:15px;

}

.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  .sidepanel-items
  {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.openbtn:hover{
    background-color: #4a4343; 
  box-shadow: none; 
  border-radius: 0%;
  position: absolute;
  right: 0;
  padding: 15px;
  height: 50px;
   transform: none;

}

.buttonalign{
    
    display: flex;
    flex-direction: column;
    position: auto;
 }
 .replay-btn
{
    padding-right: 30px;
    margin-top: 20px;
    padding-inline: 61px;
    padding-block: 20px;
} 

#FooterBar{
  
   width: 100%;
  background-color: #020000;
  padding: 0px;
  margin-bottom: 0px;
  position: absolute;
  bottom: -205px;
  

 

}
.highScore{
    color:rgb(255, 255, 255);
   align-content: center;
   justify-content: center;
   padding-left: 20px;

   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#marqueeTag
{
    color: #010101;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}